<!DOCTYPE html>
<html lang="pl">

    <%- include('../partials/head.ejs') %>

        <body class="app-light-theme">
            <div id="loading" class="w-100 h-100 position-absolute">
                <div class="text-center position-absolute top-50 start-50 translate-middle">
                    <div class="spinner-border" role="status"></div>
                    <p>Wczytywanie...</p>
                </div>
            </div>
            <div class="container">
                <%- include('../partials/header.ejs') %>
                    <div class="cloud">
                        <div class="cloudBody row row-cols-auto">
                            <% for (let i=0; i < items.length; i++) { %>
                                <% if (items[i].type=="folder" ) { %>
                                    <div class="col cloudItemContainer user-select-none"
                                        data-filetype="<%= items[i].type %>" data-filename="<%= items[i].name %>"
                                        data-filepath="<%= items[i].path%>"
                                        data-fileredirect="<%= items[i].redirect %>">
                                        <img title alt src="<%= items[i].imageurl %>" class="cloudItemContainerImg">
                                        <h1>
                                            <%= items[i].name %>
                                        </h1>
                                    </div>
                                    <% } else if (items[i].type=="image" || items[i].type=="video" ) { %>
                                        <div class="col cloudItemContainer user-select-none"
                                            data-filetype="<%= items[i].type %>" data-filename="<%= items[i].name %>"
                                            data-filepath="<%= items[i].path%>"
                                            data-fileredirect="<%= items[i].redirect %>"
                                            data-fileheight="<%= items[i].height %>"
                                            data-filewidth="<%= items[i].width %>">
                                            <img title alt src="<%= items[i].imageurl %>" class="cloudItemContainerImg">
                                            <h1>
                                                <%= items[i].name %>
                                            </h1>
                                        </div>
                                        <% } else { %>
                                            <div class="col cloudItemContainer user-select-none"
                                                data-filetype="<%= items[i].type %>"
                                                data-filename="<%= items[i].name %>" data-filepath="<%= items[i].path%>"
                                                data-fileredirect="<%= items[i].redirect %>">
                                                <img title alt src="<%= items[i].imageurl %>"
                                                    class="cloudItemContainerImg">
                                                <h1>
                                                    <%= items[i].name %>
                                                </h1>
                                            </div>
                                            <% } %>
                                                <% } %>
                        </div>
                    </div>
            </div>
        </body>

        <script src="javascript/Messages.js"></script>
        <script src="javascript/Cloud.js"></script>
        <%- include('../partials/scripts.ejs') %>


</html>