<!DOCTYPE html>
<html lang="pl" data-bs-theme="dark">

    <%- include('../partials/head.ejs') %>

        <body class="app-light-theme">
            <div id="loading">
                <div class="text-center position-absolute top-50 start-50 translate-middle">
                    <div class="spinner-border" role="status"></div>
                    <p>Wczytywanie...</p>
                </div>
            </div>
            <div class="app-container">
                <%- include('../partials/header.ejs') %>
                    <div class="cloud">
                        <div class="cloudBody app-row row-cols-auto">
                            <% for (let i=0; i < items.length; i++) { %>
                                <% if (items[i].type=="folder" ) { %>
                                    <div class="col cloudItemContainer user-select-none"
                                        data-filetype="<%= items[i].type %>" data-filename="<%= items[i].name %>"
                                        data-filepath="<%= items[i].path%>"
                                        data-fileredirect="<%= items[i].redirect %>">
                                        <img title alt src="<%= items[i].imageurl %>" class="cloudItemContainerImg">
                                        <h1>
                                            <%= items[i].name %>
                                        </h1>
                                    </div>
                                    <% } else if (items[i].type=="image" || items[i].type=="video" ) { %>
                                        <div class="col cloudItemContainer user-select-none"
                                            data-filetype="<%= items[i].type %>" data-filename="<%= items[i].name %>"
                                            data-filepath="<%= items[i].path%>"
                                            data-fileredirect="<%= items[i].redirect %>"
                                            data-fileheight="<%= items[i].height %>"
                                            data-filewidth="<%= items[i].width %>">
                                            <img title alt src="<%= items[i].imageurl %>" class="cloudItemContainerImg">
                                            <h1>
                                                <%= items[i].name %>
                                            </h1>
                                        </div>
                                        <% } else { %>
                                            <div class="col cloudItemContainer user-select-none"
                                                data-filetype="<%= items[i].type %>"
                                                data-filename="<%= items[i].name %>" data-filepath="<%= items[i].path%>"
                                                data-fileredirect="<%= items[i].redirect %>">
                                                <img title alt src="<%= items[i].imageurl %>"
                                                    class="cloudItemContainerImg">
                                                <h1>
                                                    <%= items[i].name %>
                                                </h1>
                                            </div>
                                            <% } %>
                                                <% } %>
                        </div>
                    </div>
            </div>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasChangePassMenu"
                aria-labelledby="offcanvasChangePassMenuLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasChangePassMenuLabel">Zmiana Hasła Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="form-group mb-2">
                        <label for="oldpassword1">Stare Hasło <strong class="text-danger">*</strong></label>
                        <input type="password" autocomplete="current-password" class="form-control" id="oldpassword1"
                            placeholder="Stare Hasło" name="password1" maxlength="40" minlength="5" required>
                        <div class="invalid-feedback">
                            Prosze wpisać stare hasło!
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="oldpassword2">Powtórz stare hasło <strong class="text-danger">*</strong></label>
                        <input type="password" autocomplete="current-password" class="form-control" id="oldpassword2"
                            placeholder="Powtórz stare hasło" name="password2" maxlength="40" minlength="5" required>
                        <div class="invalid-feedback">
                            Prosze powtórzyć stare hasło!
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="newpassword">Nowe hasło <strong class="text-danger">*</strong></label>
                        <input type="password" autocomplete="new-password" class="form-control" id="newpassword"
                            placeholder="Nowe hasło" name="password3" maxlength="40" minlength="5" required>
                    </div>
                    <button type="button" class="btn btn-primary mt-3" id="changePasswordBtn">Zmień hasło</button>
                    </form>

                </div>
            </div>
            <% if (admin==true) { %>
                <%- include('../partials/admin.ejs') %>
                    <% } %>
        </body>

        <script src="javascript/Messages.js"></script>
        <% if (admin==true) { %>
            <script src="javascript/Admin.js"></script>
            <% } %>
                <script src="javascript/Cloud.js"></script>
                <%- include('../partials/scripts.ejs') %>


</html>